<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.xghk416.pojo.dao.ArkSkillRangeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.project.xghk416.pojo.po.ArkSkillRangePo">
        <id column="id" property="id" />
        <result column="operator_index" property="operatorIndex" />
        <result column="skill_id" property="skillId" />
        <result column="skill_range" property="skillRange" />
        <result column="skill_limits" property="skillLimits" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, operator_index, skill_id, skill_range, skill_limits
    </sql>

</mapper>
